.trial_lead {
	margin-bottom: 17rem * $pc;
	@include sp {
		margin-bottom: 17rem;
	}
	.c_lead {
		margin: 8.5rem * $pc 0;
		@include sp {
			margin: 8.5rem 0;
		}
	}
	.time {
		text-align: center;
		img {
			width: 41.9rem * $pc;
			@include sp {
				width: 41.9rem;
			}
		}
	}
	.ttl {
		text-align: center;
		letter-spacing: .1em;
		margin: -5rem * $pc 0 9rem * $pc;
		font-size: 2.6rem * $pc;
		@include sp {
			margin: -5rem 0 9rem;
			font-size: 2.6rem;
		}
	}
	.price {
		text-align: center;
		color: $pink;
		margin-bottom: 3rem;
		font-size: 3.4rem * $pc;
		letter-spacing: .1em;
		@include sp {
			font-size: 3.4rem;
		}
		em {
			font-size: 1.235em;
		}
		small {
			font-size: .529em;
		}
	}
}

.trial_flow {
	margin-bottom: 22rem * $pc;
	@include sp {
		margin-bottom: 22rem;
	}
	.c_ttl2 {
		margin-bottom: 11rem * $pc;
		@include sp {
			margin-bottom: 8rem; 
		}
	}
	.ttl {
		font-size: 4.2rem * $pc;
		letter-spacing: .06em;
		margin-bottom: 6rem * $pc;
		white-space: nowrap;
		display: flex;
		@include pc {
			align-items: flex-start;
		}
		@include sp {
			margin-bottom: 6rem;
			font-size: 4.1rem;
			span {
				line-height: 1.3;
			}
		}
		small {
			display: block;
			font-size: 1.8rem * $pc;
			line-height: 1.2;
			@include sp {
				font-size: 1.8rem;
			}
		}
		img {
			width: 19.2rem * $pc;
			margin-right: 1em;
			@include sp {
				width: 17.2rem;
				margin-right: .8em;
			}
		}
		i {
			margin-left: -.5em;
			margin-right: -.3em;
		}
	}
	li {
		p {
			font-size: 2.4rem * $pc;
			line-height: 1.75;
			letter-spacing: .135em;
			@include sp {
				font-size: 2.8rem;
				margin-top: 1em;
			}
		}
		+ li {
			border-top: solid 1px #949494;
			padding-top: 11rem * $pc;
			margin-top: 7.6rem * $pc;
			position: relative;
			@include sp {
				padding-top: 11rem;
				margin-top: 7.6rem;
			}
			&:before, &:after {
				content: '';
				@include absCenter;
				border-style: solid;
				border-width: 1.3rem * $pc 1.3rem * $pc 0 1.3rem * $pc;
				border-color: #949494 transparent transparent transparent;
				top: 0;
				@include sp {
					border-width: 1.3rem 1.3rem 0 1.3rem;
				}
			}
			&:after {
				border-color: #fff transparent transparent transparent;
				top: -1.5px;
			}
		}
	}
	.note {
		font-size: 1.6rem * .8;
		margin-top: 6rem * $pc;
		@include sp {
			margin-top: 6rem;
			font-size: 2rem;
		}
	}
	.care {
		margin: 14rem * $pc auto 0;
		@include sp {
			margin: 14rem auto 0;
		}
		p {
			font-size: 1.6rem * .8;
			line-height: 1.625;
			text-indent: -1em;
			margin-left: 1em;
			letter-spacing: .075em;
			@include sp {
				font-size: 2.6rem;
			}
		}
		a {
			background: #b09280;
			display: block;
			margin-bottom: 1.8rem * $pc;
			@include sp {
				margin-bottom: 1.8rem;
			}
			p {
				color: #fff;
				font-size: 2.2rem * $pc;
				margin-left: 0;
				text-indent: 0;
				em {
					text-decoration: underline;
					font-size: 2.7rem * $pc;
					margin-top: .4em;
					display: inline-block;
					@include sp {
						font-size: 3.6rem;
						margin-top: 0;
					}
				}
				@include sp {
					text-align: center;
					font-size: 2.8rem;
					padding: 1.5em 0;
				}
			}
			@include pc {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding-left: 4.2rem * $pc;
				flex-flow: row-reverse;
				img {
					width: 21.4rem * $pc;
				}
			}
		}
		@include pc {
			width: 80rem * $pc;
		}
	}
	@include pc {
		ul { 
			width: 94rem * $pc;
			margin: 0 auto;
		}
		.note {
			width: 94rem * $pc;
			margin-left: 8rem * $pc;
		}
		.row {
			display: flex;
			justify-content: space-between;
			figure {
				width: 50.7rem * $pc;
			}
			p {
				width: 35rem * $pc;
			}
		}
	}
}

.salon_list {
	.line {
		border-top: solid .5px #4d4d4d;
		padding-top: 1.5rem * $pc;
		margin-top: 2rem * $pc;
		@include sp {
			padding-top: 2rem;
			margin-top: 2.5rem;
		}
	}
	.link {
		text-align: right;
		margin-top: 2rem * $pc;
		@include sp {
			margin-top: 2rem;
		}
		a {
			color: $pink;
			background: url(../img/ico_arrow03.svg) no-repeat right center / #{(.9rem * $pc)};
			padding-right: 1em;
			display: inline-block;
			border-bottom: dashed 1px $pink;
			font-size: 2rem * $pc;
			@include sp {
				font-size: 2.4rem;
				background-size: .9rem;
			}
		}
	}
	.map {
		filter: none;
		@include iframe(35rem * $pc);
		margin: 3rem * $pc 0 1.8rem * $pc;
		@include sp {
			@include iframe(35rem);
			margin: 3rem 0 1.8rem;
		}
	}
	ul {
		display: flex;
		gap: 0 .5rem * $pc;
		margin-top: 1.7rem * $pc;
		@include sp {
			gap: 0 .5rem;
			margin-top: 1.7rem;
		}
	}
	> li {
		+ li {
			margin-top: 11.5rem * $pc;
			@include sp {
				margin-top: 11.5rem;
			}
		}
	}
	p {
		font-size: 1.6rem * .8;
		line-height: 1.625;
		letter-spacing: .125em;
		@include sp {
			font-size: 2rem;
		}
	}
	dt, dd {
		line-height: 1.75;
		font-size: 1.6rem * .8;
		@include sp {
			font-size: 2rem;
		}
	}
	dl {
		display: flex;
		flex-wrap: wrap;
		@include sp {
			margin-top: 6rem;
		}
	}
	dt {
		width: 6rem * $pc;
		@include sp {
			width: 8rem;
		}
		&.b {
			font-size: 2.6rem * $pc;
			line-height: 1.4;
			@include sp {
				font-size: 3.3rem;
			}
		}
	}
	dd {
		width: calc(100% - #{(6rem * $pc)});
		@include sp {
			width: calc(100% - 8rem);
		}
		&.b {
			font-size: 3.3rem * $pc;
			color: $pink;
			line-height: 1;
			margin-bottom: 1.5rem * $pc;
			@include sp {
				font-size: 4.2rem;
				margin-bottom: 1.5rem;
			}
		}
	}
	.btn {
		margin-top: 3rem * $pc;
		@include sp {
			margin-top: 4.5rem;
		}
		a {
			display: block;
			text-align: center;
			line-height: 8rem * $pc;
			font-size: 2.5rem * $pc;
			@include sp {
				font-size: 3.1rem;
				line-height: 10rem;
			}
		}
		+ .btn {
			margin-top: 2.2rem * $pc;
			@include sp {
				margin-top: 2.2rem;
			}
		}
	}
	.reserve {
		background: $brown;
		border: solid 1px $brown;
		color: #fff;
		&:hover {
			background: #fff;
			color: $brown;
			opacity: 1;
		}
	}
	.salon {
		background: #eedde3;
		border: solid 1px #eedde3;
		&:hover {
			background: #fff;
			border: solid 1px $pink;
			color: $pink;
			opacity: 1;
		}
	}
	@include pc {
		.row {
			display: flex;
			justify-content: space-between;
			figure, .img {
				width: 49.2rem * $pc;
			}
			.desc {
				width: 52rem * $pc;
			}
		}
	}
}

.trial_shop {
	.ttl {
		text-align: center;
		color: $pink;
		font-size: 4.2rem * $pc;
		margin-bottom: 12rem * $pc;
		@include sp {
			font-size: 4.2rem;
			margin-bottom: 12rem;
		}
	}
	.nav {
		margin-bottom: 15rem * $pc;
		@include sp {
			margin-bottom: 15rem;
		}
		img {
			width: 100%;
		}
		dd {
			margin-top: 6.5rem * $pc;
			display: flex;
			gap: 2.8rem * $pc;
			@include sp {
				margin-top: 5rem;
				gap: 2.8rem;
			}
		}
		@include sp {
			dl {
				margin-bottom: 8rem;
			}
		}
		@include pc {
			display: flex;
			justify-content: space-between;
			dl {
				width: 52.4rem * $pc;
			}
		}
	}
	
}